.nav-link{
    transition: all 0.2s;
}
.nav-link:hover{
   /*text-decoration: underline;*/
   border-bottom: 2px solid rgb(3, 6, 3);
   background-color: aquamarine;
   

}
.card{
    transition: all 0.3s;
    border-radius: 10cm 10cm 0;

    border: 0;
}
.cad img{
    border-radius: 10cm 10cm 0;
}
.card:hover{
    transform: scale(1.15);
}


